<!DOCTYPE html>
<html>
<head>
  <title>DriBatchIngest</title>
  <%= stylesheet_link_tag    "dri/batch_ingest/application", media: "all" %>
  <%= javascript_include_tag "dri/batch_ingest/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
